.App {
    text-align: center;
    background: linear-gradient(to left, rgb(25, 110, 121), rgb(70, 224, 228));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Deployed from three-tier-fe repository */
    border-top: 3px solid #00ff88;
}

.container {
    width: 50%;
    padding: 20px;
    border-radius: 15px;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 3px;
    padding: 10px;
    background-color: #282c34;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_container {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
}

.line_through {
    text-decoration: line-through;
    color: #888;
}